{% extends 'mailing_service/base.html' %}

{% block content %}
    <div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
    <div class="col-3">

    </div>
        <div class="col-6">
            <div class="card">
                {% csrf_token %}
                <div class="card-header">
                    <p class="card-text">Сброс пароля</p>
                </div>

                <div class="card-body">
                        <label for="email" class="form-label">Почта:</label>
                <input type="email" class="form-control" id="email"
                       name="email" required autocomplete="email"
                >
                <h6 class="mt-2">На указанную почту будет отправлено письмо с новым паролем </h6>
                </div>
                <div class="card-footer">
                        <button type="submit" class="p-2 btn btn-outline-primary">Сбросить</button>
                <input class="btn btn-primary" value="Назад" onClick="javascript:history.go(-1);">
                </div>
            </div>
        </div>

    </form>
    </div>


{% endblock %}