{% extends 'mailing_service/base.html' %}
{% block content %}
<div class="col-12">
    <div class="card mb-12 box-shadow">
        <div class="card-header">
            <h4 class="card-text">{{object.name}}</h4>
        </div>
        <div class="card-body">
            <h5 class="card-text">E-mail: {{object.email}}</h5>
            <p class="card-text">Комментарий: {{object.comment}}</p>
        </div>
        <div class="card-footer">
            <div class="btn">
                <a href="{% url 'mailing_service:clients' %}" class="btn btn-primary">Назад</a>
                <a class="btn btn-secondary" href="{% url 'mailing_service:update_client' object.pk %}" role="button">Редактировать</a>
                <a class="btn btn-danger" href="{% url 'mailing_service:delete_client' object.pk %}" role="button">Удалить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}