{% extends 'mailing_service/base.html' %}

{% block content %}
    <div class="col-12" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Хотите удалить клиента '{{ object.name }} ({{ object.email }})'?</p>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                            <a href="{% url 'mailing_service:client' object.pk %}" class="btn btn-secondary">Назад</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}