{% extends 'mailing_service/base.html' %}
{% block content %}
<div class="col-12 mb-4">
    {% if perms.mailing_service.add_newsletter %}
    <a class="btn btn-outline-primary" href="{% url 'mailing_service:create' %}">Добавить рассылку</a>
    {% endif %}
</div>
{% load imgs %}

<div class="col-12">
    <div class="list-group">


        {% for object in object_list %}
        <a href="{% url 'mailing_service:newsletter' object.pk %}" class="list-group-item list-group-item-action">

            <div class="card-header">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ object.message.subject }}</h5>
                </div>
            </div>
            <div class="card-body">
                <p class="mb-1">Статус: {{ object.status }}</p>
                <p class="mb-1">Запущена: {{ object.start_datetime }}</p>
                <p class="mb-1">Завершена: {{ object.end_datetime }}</p>
            </div>
        </a>
        {% endfor %}

    </div>
</div>

{% endblock %}